/*
Web Class Helper Resource File 2.1.2
This source code file isn't under any license.
Generator: Visual Studio 2022
*/
#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS
#if !defined(AFX_RESOURCE_DLL)
#pragma code_page(65001)
IDI_ICON ICON "WCH.ico"
#endif
